@font-face {
   src: url('../fonts/OpenSans-Regular.ttf');
   font-family: "OpenSans Regular";
}

@font-face {
   src: url('../fonts/RobotoSlab-Bold.ttf');
   font-family: "RobotoSlab", serif;
}

@media screen and (max-width: 600px) {
      .navigation,
      .main {
         display: flex;
         flex-direction: column;
      }
      .photo img {
         max-width: 100vw;
      }
      aside {
         width: fit-content;
         height: fit-content;
      }
      section {
         width: fit-content;
         height: fit-content;
      }
}

body {
   margin: 0;
   padding: 0;
   font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
   background-color:rgb(234, 211, 170);
   background: url("../img/paper-1074131_640.png") no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
}

.navigation,
.copyright {
   text-align: center;
   padding: 20px;
}

a {
   color: darkred;
   margin-right: 30px;
}

a:hover {
   color: gray;
   transition: .5s;
}

.navigation a:visited {
   color: blue;
}

.main {
   margin: 30px;
   display: flex;
   flex-direction: row; 
}

h1,
h2 {
   font-family: "RobotoSlab", serif;
   color: rgb(75,75,75);
}

.contacts {
   margin-top: 30px;
}

.contacts b,
.social b,
.contacts h2 {
   display: none;
}

.contacts img {
   width: 25px;
   margin-right: 20px;
   opacity: 0.5;
   vertical-align: middle;
}

.social img {
   width: 40px;
   margin-right: 0;
   opacity: 1;
}

.photo img {
   border: 1px solid white;
   border-radius: 2%;
   width: 415px;
}

section {
   margin-left: 50px;
}

section h2 {
   padding: 0 30px;
   border-left: 5px solid darkorange;
 }

 .main ul {
    margin-bottom: 30px;
 }

 .main p {
    margin-bottom: 30px;
 }